{
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "space-before-function-paren": ["error", "never"]
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "env": {
        "browser": true
    }
}
