/* =Menu
----------------------------------------------- */

.primary-navigation {
	display: block;
	width: 100%;
	a {
		display: block;
		text-decoration: none;
		padding: 0.5em 0.75em;
	}
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	.menu-item,
	.page_item {
		position: relative;
		display: inline-block;
		&:hover > a,
		&.current_page_item > a,
		&.current-menu-item > a {
			background-color: rgba(0, 0, 0, 0.1);
		}
		&:hover > ul {
			display: block;
		}
	}
	.sub-menu {
		background-color: color('white');
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		display: none;
		float: left;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 9999;
		.sub-menu {
			left: 100%;
			top: 0;
		}
		.menu-item {
			display: block;
		}
		a {
			width: 200px;
			color: color('grey');
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		}
	}
	.show-submenu {
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		font-size: 1.5rem;
		padding: 0.3em 0.75em;
		transition: transform style('transition');
	}
	.is-open {
		> .show-submenu {
			transform: rotate(180deg);
		}
		> .sub-menu {
			display: block;
		}
	}
}

/* Secondary Navigation */
.secondary-navigation {
	a {
		padding-right: 0.75em;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menu-item {
		display: inline-block;
		padding: 0 0.25em;
		&:after {
			content: '|';
		}
		&:last-child:after {
			display: none;
		}
	}
}

/* Small Menu */
.menu-toggle {
	cursor: pointer;
	display: none;
	font-size: 1.5rem;
}

/* Media Queries */
@media screen and (max-width: break('medium')) {

	.menu-toggle {
		display: block;
	}
	.primary-navigation .menu {
		display: none;
		width: 100%;
		a {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		}
		.menu-item, .page_item {
			width: 100%;
			&:not(.is-open):hover ul {
				display: none;
			}
			&:last-child {
				border-bottom: none;
			}
			&-has-children > a {
				padding-right: 3em;
			}
		}
		.sub-menu {
			float: none;
			font-size: 0.9rem;
			position: relative;
			box-shadow: none;
			a {
				width: 100%;
				padding-left: 1.5em;
			}
			.sub-menu {
				left: 0;
				a {
					padding-left: 2.5em;
				}
			}
		}
		.show-submenu {
			display: block;
		}
	}

}
@media screen and (min-width: break('medium')) {

	.primary-navigation .menu {
		display: block !important;
		.show-submenu {
			display: none;
		}
	}

}