/* =Flex
----------------------------------------------- */

.flex {
	display: flex;
}

/* Alignment */
.flex-vc {
	@extend .flex;
	align-items: center;
}
.flex-hc {
	@extend .flex;
	justify-content: center;
}
.flex-c {
	@extend .flex;
	align-items: center;
	justify-content: center;
}