/* =Main
-------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: $color-white;
}

/* Site Header */
.site-title {
    margin: 0;
}
.site-branding {
    position: relative;
}

/* Icons */
.theme-icon {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    fill: currentColor;
}

/* Site Footer */
.site-info {
    font-size: 0.75rem;
    text-align: right;
    line-height: 2.5;
}

/* Media Queries */
@include to(small) {
    .site-footer,
    .site-info {
        text-align: center;
    }
}
