/* =Main
-------------------------------------------------------------- */

body {
	background-color: color('white');
}

/* Site Info */
.site-info {
	font-size: 0.75rem;
	text-align: right;
	p {
		margin: 1em 0 0.5em;
	}
}

/* Media Queries */
@media screen and (max-width: break('small')) {

	.site-footer,
	.site-info {
		text-align: center;
	}

}