/* =Comments
----------------------------------------------- */

.comments-area {
	font-size: 0.9em;
	padding: 0.2em 0.75em;
	a {
		word-wrap: break-word;
	}
}
.comment {
	list-style: none outside none;
	margin-top: layout('margin');
	.children {
		padding-left: layout('padding');
	}
}
.comment-list {
	padding-left: 0.25em;
}
.comment-body {
	padding: layout('padding');
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: style('radius');
	position: relative;
	&:before {
		content: '';
		border-style: solid;
		border-width: 1em;
		position: absolute;
		left: -1.95em;
		bottom: 40%;
		border-color: transparent rgba(0, 0, 0, 0.05) transparent transparent;
	}
}
.comment-respond {
	padding: 0.25em 0.75em;
	label {
		display: inline-block;
		padding-right: 0.5em;
		width: 5em;
	}
}
.form-allowed-tags code {
	font-size: 0.9em;
}