/* =Posts
----------------------------------------------- */

.hentry {
    margin: 0 0 $layout-margin;
}
.sticky {
    font-size: 1.1em;
}
.single,
.group-blog {
    .byline {
        display: inline-block;
    }
}
.page-links {
    clear: both;
    margin: 0 0 $layout-margin;
}

/* Articles */
.page-content,
.entry-content,
.entry-summary {
    margin: 0 0 $layout-margin;
}
.entry-title {
    line-height: 1.1;
}
.article-excerpt {
    @extend .clear;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: $layout-margin;
    padding-bottom: $layout-padding;
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

/* Blog */
.bypostauthor {
    display: block;
}
.updated,
.more {
    font-size: 0.75rem;
    font-style: italic;
}
.entry-meta,
.entry-footer {
    font-size: 0.75rem;
    margin-bottom: $layout-margin;
    >span {
        display: inline-block;
        padding-right: $layout-padding;
    }
    .fa {
        display: inline-block;
        padding-right: 0.25em;
    }
}
