/* =Helpers
----------------------------------------------- */

/* Misc*/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.hidden {
    visibility: hidden;
}

/* Screen reader text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
    &:hover, &:active, &:focus {
        background-color: darken(color('white'), 2.5%);
        border-radius: style('radius');
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: color('blue');
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
	    z-index: 100000
    }
}

/* Clearing */
.clear:before, .clear:after {
	content: '';
	display: table;
}
.clear:after {
	clear: both;
}