/* =Global
----------------------------------------------- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
::-moz-selection {
    background-color: color('black');
    color: color('white');
}
::selection {
    background-color: color('black');
    color: color('white');
}

/* Elements */
p {
    margin-bottom: layout('margin');    
}
hr {
	background-color: color('silver');
	margin-bottom: layout('margin');
	height: 1px;
	border: 0;
    clear: both;
}
ul, ol {
    margin: 0 0 layout('margin') layout('margin');
    list-style-position: inside;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > {
    ul, ol {
        margin-bottom: 0;
        margin-left: layout('margin');
    }
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 layout('margin') layout('margin');
}
b, strong {
	font-weight: font('bold');
}
blockquote {
	margin: 0 layout('margin');
}
dfn, cite, em, i {
	font-style: italic;
}
sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: 0.5ex;
}
small {
	font-size: 0.75em;
}
big {
	font-size: 1.25em;
}
figure {
	margin: 0;
}
img {
    height: auto;
    max-width: 100%;
}
a img {
    border: none;
}
embed, iframe, object {
	max-width: 100%;
}
address {
	margin: 0 0 layout('margin');
}
pre {
	background: color('silver');
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: layout('margin');
	max-width: 100%;
	overflow: auto;
	padding: layout('padding');
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted color('grey');
	cursor: help;
}
mark, ins {
	background: darken(color('white'), 2.5%);
	text-decoration: none;
}

/* Tables */
table {
    margin: 0 0 layout('margin');
    width: 100%;
    th {
        font-weight: bold;
    }
    th, td {
        padding: 0.75em;
    }
    tr {
        background-color: darken(color('white'), 5%);
    }
    tr:nth-child(odd) {
        background-color: darken(color('white'), 2.5%)
    }
}