/* =Global
----------------------------------------------- */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
::-moz-selection {
	background-color: color('black');
	color: color('white');
}
::selection {
	background-color: color('black');
	color: color('white');
}

/* Elements */
p {
	margin: 0.5em 0 layout('margin');
}
hr {
	background-color: rgba(0, 0, 0, 0.1);
	margin: layout('margin') 0;
	height: 1px;
	border: 0;
	clear: both;
}
b, strong {
	font-weight: font('bold');
}
blockquote {
	position: relative;
	font-style: italic;
	font-weight: font('bold');
	margin: 0 layout('margin');
	&:before {
		left: -1.5em;
		position: absolute;
		font-family: font('icon');
		content: '\f10d';
	}
}
dfn, cite, em, i {
	font-style: italic;
}
small {
	font-size: 0.75rem;
}
big {
	font-size: 1.25rem;
}
img {
	height: auto;
	max-width: 100%;
}
a img {
	border: none;
}
embed, iframe, object {
	max-width: 100%;
}
address {
	margin: 0 0 layout('margin');
}
code, pre {
	background-color: rgba(0, 0, 0, 0.1);
	overflow: auto;
	max-width: 100%;
	padding: layout('padding');
	margin-bottom: layout('margin');
	border-radius: style('radius');
}
abbr, acronym {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
	cursor: help;
}
mark, ins {
	background-color: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}