/* =Grid
----------------------------------------------- */

*, *:after, *:before {
    box-sizing: border-box;
}
.container {
    max-width: layout(width);
    padding: layout(padding);
    margin: 0 auto;
    position: relative;
    &-thin {
        padding: 0 layout(padding);
    }
}
.row {
    @extend .clear;
    width: 100%;
    margin: 0 auto layout(margin);
    &-thin {
        margin-bottom: 0;
    }
}
[class*="col-"], [class*="md-"] {
    float: left;
    min-height: 1px;
    padding: layout(padding);
    .inner {
        padding: layout(padding);   
    }
}
@for $i from 1 through 12 {
    .col-#{$i} {
        width: ((100 / 12) * $i) * 1%;
    }
}

/* Media Queries */
@media screen and (max-width: break(medium)) {
    [class*="col-"] {
        float: none;
        width: 100%;
        margin: 0 0 ( layout(margin) / 2 ) 0;
    }
    [class*="md-"] {
        float: left;
    }
    @for $i from 1 through 12 {
        .md-#{$i} {
            width: ((100 / 12) * $i) * 1%;
        }
    }
}
@media screen and (max-width: break(small)) {
    [class*="md-"] {
        float: none;
        width: 100%;
    }
}