/* =Grid
----------------------------------------------- */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    max-width: $container-width;
    padding: 1em;
    margin: 0 auto;
    position: relative;
}
.row {
    @extend .clear;
    width: 100%;
    margin: 0 auto 1em;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    .col {
        float: left;
        padding-right: 2.5em;
        min-height: 1px;
        &:last-child {
            padding-right: 0;
        }
    }
    @for $i from 1 through 12 {
        .col-#{$i}-12 {
            width: ((100 / 12) * $i) * 1%;
        }
    }
}
.row-pad, .col-pad {
    padding: 20px;
}

/* Media Queries */
@media screen and (max-width: $break-medium) {
    .row {
        .col {
            float: none;
            width: 100%;
            padding: 10px 0;
            margin: 0 0 10px 0;
        }
    }
}