/* =Helpers
----------------------------------------------- */

/* Alignment */
.alignleft, .align-left {
    display: inline;
    float: left;
    margin: 0 2.5em 1em 0;
}
.alignright, .align-right {
    display: inline;
    float: right;
    margin: 0 0 1em 2.5em;
}
.aligncenter, .align-center {
    clear: both;
    display: block;
    margin: 0 auto 1em auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

/* Responsive iframes */
.fluid-iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.fluid-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Misc*/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.hidden {
    visibility: hidden;
}
.hide {
    display: none;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
    &:hover, &:active, &:focus {
        background-color: darken(color(white), 2.5%);
        border-radius: style(radius);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: color(blue);
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
	    z-index: 100000
    }
}

/* Clearing */
.clear:before, .clear:after {
	content: '';
	display: table;
}
.clear:after {
	clear: both;
}