/* =Menu
----------------------------------------------- */

.main-navigation {
    display: block;
    float: left;
    width: 100%;
    a {
        display: block;
        text-decoration: none;
        padding: 0.5em 0.75em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    .menu-item {
        float: left;
        position: relative;
        &:hover > a, 
        &.current_page_item > a, 
        &.current-menu-item > a {
            background-color: color('silver');
        }
        &:hover > ul {
            display: block;
        }
    }
    .sub-menu {
        background-color: color('white');
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        display: none;
        float: left;
        left: 0;
        position: absolute;
        top: 100%;
        z-index: 9999;
        .sub-menu {
            left: 100%;
            top: 0;
        }
        a {
            width: 200px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
    }
}

/* Secondary Navigation */
.secondary-navigation {
    a {
        padding-right: 0.75em;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .menu-item {
        float: left;
        padding: 0 0.25em;
        &:after {
          content: '|';
        }
        &:last-child:after {
            display: none;
        }
    }
}

/* Small Menu */
.menu-toggle {
    cursor: pointer;
    display: none;
    font-size: 1.5em;
    padding: 0.5em;
}

/* Media Queries */
@media screen and (max-width: break('medium')) {
    .menu-toggle {
        display: block;
    }
    .main-navigation .menu {
        display: none;
        float: none;
        width: 100%;
        a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
        .menu-item {
            float: none;
            width: 100%;
            &:hover ul {
                display: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        .sub-menu {
            font-size: 0.9em;
            float: none;
            position: relative;
            box-shadow: none;
            a {
                width: 100%;
                padding-left: 1.5em;
            }
            .sub-menu {
                left: 1em;   
            }
        }
    }
}

@media screen and (min-width: break('medium')) {
    .main-navigation .menu {
        display: block !important;
    }
}