/* =Social
-------------------------------------------------------------- */

.social-tiles {
    a {
        width: 2em;
        height: 2em;
        margin: 0.25em;
        padding: 0.5em;
        text-align: center;
        color: color(white);
        &:hover {
            color: darken(color(white), 5%);
        }
    }
    /* Background Colors */
    @each $name, $color in $social {
        .fa-#{$name} {
            background-color: $color;
        }
    }
}
.social-hovers {
    /* Hover Colors */
    @each $name, $color in $social {
        .fa-#{$name}:hover {
            color: $color;
        }
    }
}