/* =Variables
-------------------------------------------------------------- */


/* Site Layout */
$layout-width: 1140px;
$layout-margin: 1.5rem;
$layout-padding: 1rem;

/* Site Font */
$font-primary: 'Arial';
$font-icon: 'FontAwesome';
$font-size: 17px;
$font-height: 1.5;
$font-normal: 400;
$font-bold: 700;

/* Site Styles */
$style-radius: 3px;
$style-transition-duration: 0.2s;
$style-transition-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$style-transition: $style-transition-duration $style-transition-easing;

/* Site Break Points */
$break-small: 48em;
$break-medium: 64em;
$break-large: 75em;

/* Site Colors */
$color-blue: #1882f4;
$color-green: #00b429;
$color-orange: #d65015;
$color-yellow: #ebdc2f;
$color-red: #d31f16;
$color-silver: #DDDDDD;
$color-grey: #555555;
$color-black: #222222;
$color-white: #FFFFFF;
