/* =Content
----------------------------------------------- */

.hentry {
	margin: 0 0 1.5em;
}
.byline, .updated {
	display: none;
}
.single .byline, .group-blog .byline {
	display: inline;
}
.page-content, .entry-content, .entry-summary {
	margin: 0 0 1.5em 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Elements */
.site-content ul {
    list-style: none;
    li {
        position: relative;
        &:before {
            content: '-';
            position: absolute;
            left: -1em;
            font-weight: bold;
        }
    }
}

/* Asides */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Media */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
    img[class*="wp-image-"] {
        display: block;
        margin: 1.2% auto 0;
        max-width: 98%;
    }
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main {
    .gallery {
        margin-bottom: 1.5em;
        a img {
            border: none;
            height: auto;
            max-width: 90%;
        }
        figcaption, dd {
            margin: 0;
        }
    }
}
embed, iframe, object {
    max-width: 100%;
}

/* Breadcrumbs */
.breadcrumbs {
    padding: 0;
    margin: 0 1em 1em 0;
    font-size: 0.8em;
    li {
        float: left;
        position: relative;
        list-style: none;
        padding: 0.25em 0.5em;
        &:after {
            content: "/";
            font-size: 0.8em;
            position: absolute;
            bottom: 18%;
            right: 0;
        }
        &:last-child:after {
            content: "";
        }
    }
}

/* Pagination */
.pagination {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
    .page-numbers {
        display: inline-block;
        color: $color-grey;
        margin: 0 0.25em 1em;
        padding: 0.2em 0.5em;
        border-radius: 2px;
        &:hover {
            background-color: $color-silver;
        }
    }
    .current {
        background-color: $color-blue;
        color: #fff;
    }
}

/* Navigation */
.site-main [class*="navigation"] {
    margin: 0 0 1.5em;
    overflow: hidden;
}
[class*="navigation"] {
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

/* Comments */
.comments-area {
    background-color: darken( $color-white, 2% );
    font-size: 0.9em;
    padding: 0.2em 0.75em;
    .comment-content a {
        word-wrap: break-word;
    }
    .comment-list .comment {
        border-left: 1px dotted $color-silver;
        list-style: none outside none;
        margin-top: 1em;
        padding-left: 1em;
    }
    .comment-respond {
        padding: 0.25em 0.75em;
        label {
            display: inline-block;
            padding-right: 0.5em;
            width: 4em;
        }
        .form-allowed-tags code {
            font-size: 0.9em;
        }
    }
}

/* Widgets */
.widget {
    margin: 0 0 2em;
    select {
        max-width: 100%;
    }
}
.widget_search .search-submit {
    display: none;
}

/* Infinite Scroll */
.infinite-scroll {
    .paging-navigation, &.neverending .site-footer {
        display: none;
    }
}
.infinity-end.neverending .site-footer {
    display: block;
}