/* =Menu
----------------------------------------------- */

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    a {
        display: block;
        text-decoration: none;
        padding: 0.5em 0.75em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    .menu {
        li {
            float: left;
            position: relative;
            &:hover > a, &.current_page_item > a, &.current-menu-item > a {
                background-color: rgba(0, 0, 0, 0.2);
            }
            &:hover > ul {
                display: block;
            }
        }
        ul {
            background-color: $color-white;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            display: none;
            float: left;
            left: 0;
            position: absolute;
            top: 100%;
            z-index: 9999;
            ul {
                left: 100%;
                top: 0;
            }
            a {
                width: 200px;
                border-bottom: 1px solid rgba(0,0,0,0.05);
            }
        }
    }
}

/* Secondary Navigation */
.secondary-navigation {
    .menu {
        padding: 0;
        margin: 0;
        li {
            float: left;
            padding: 0 0.25em;
            list-style: none;
            a {
                padding-right: 0.5em;
                border-right: 1px solid rgba(0, 0, 0, 0.7);
            }
            &:last-child a {
                border-right: none;
            }
        }
    }
}

/* Small Menu */
.menu-toggle {
    cursor: pointer;
    display: none;
    font-size: 1.5em;
    padding: 0.5em;
}

/* Media Queries */
@media screen and (max-width: $break-medium) {
    .menu-toggle {
        display: block;
    }
    .main-navigation .menu {
        display: none;
        float: none;
        width: 100%;
        li {
            float: none;
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.7);
            ul {
                font-size: 0.9em;
                float: none;
                position: relative;
                box-shadow: none;
                a {
                    width: 100%;
                    padding-left: 1.5em;
                }
            }
            &:hover ul {
                display: none;
            }
        }
        > li &:first-child {
            border-top: none;
        }
    }
}

@media screen and (min-width: $break-medium) {
    .main-navigation .menu {
        display: block !important;
    }
}