/* =Plugins
----------------------------------------------- */

/* Image Widget */
.widget .image-widget {
	.image-widget-image {
	    border-radius: 0.25em;
	    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.75);
	}
	.image-widget-description {
	    margin: 1em 0;
	}
}

/* Gallery Widget */
.widget .gallery-widget {
	.gallery-widget-images img {
	    border-radius: 0.25em;
	    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.75);
	    margin: 0 1em 1em 0;
	}
	.gallery-widget-description {
	    margin: 1em 0;
	}
}

/* Latest Posts Widget */
.widget .latest-posts-widget {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    .latest-posts-widget-post {
	    margin: 0 0 1em 0;
	    padding: 0;
	}
	.latest-posts-widget-title {
		margin-bottom: 0.25em;
	}
	.latest-posts-widget-image {
		float: left;
	    margin: 0 5% 5% 0;
	    width: 40%;
	    border-radius: 0.25em;
	    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.75);
	}
	.latest-posts-widget-time {
	    color: #999999;
	    font-size: 0.8em;
	    font-style: italic;
	}
	.latest-posts-widget-more {
	    display: block;
	    font-size: 0.8em;
	    text-align: right;
	}
	.latest-posts-widget-link {
	    display: block;
	    font-size: 0.9em;
	    padding: 0.25em;
	    text-align: center;
	}
}