/* =Variables
-------------------------------------------------------------- */

// Site width
$container-width: 1140px;

// Site colors
$color-blue: #0074D9;
$color-green: #4BC717;
$color-orange: #EB6D00;
$color-yellow: #E9DD0F;
$color-red: #E90008;
$color-silver: #DDDDDD;
$color-grey: #666666;
$color-black: #111111;
$color-white: #FFFFFF;

// Site font
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 15px;
$font-height: 1.4;
$font-weight: 400;

// Site Icons
$icon-font: FontAwesome;

// Site break points
$break-huge: 75em;
$break-large: 60em;
$break-medium: 45em;
$break-small: 30em;